@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
	font-variant: small-caps;
}

.flexTable {
	border-spacing: 3 0;
}

.messages {
	border: 3px solid #bbbbbb;
	border-bottom: 0px;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
}

.cw-StackPanelHeader {
	padding-left: 17px;
	font-weight: bold;
	font-size: 1.0em;
	color: #336699;
}

.logoHeader {
	padding-bottom: 30px;
	padding-left: 30px;
}

.FlexTable-OddRow {
	background-color: #FFFFFF;
	cursor: pointer;
}

.FlexTable-OddRow:HOVER {
	background-color: #E6E6E6;
}

.FlexTable-EvenRow {
	background-color: #EDF3FE;
	cursor: pointer;
}

.FlexTable-EvenRow:HOVER {
	background-color: #E6E6E6;
}

.messageNegative {
	font-weight: bold;
	color: red;
}

.messagePositive {
	font-weight: bold;
	color: green;
}

.pageHeadLine {
	font-size: 22px;
	font-weight: bold;
	height: 50px;
}

.buttonAdd {
	background: url("icons/add.png") no-repeat 4px 4px;
}

.buttonCancel {
	background: url("icons/cancel.png") no-repeat 4px 4px;
}

.buttonSave {
	background: url("icons/save.png") no-repeat 4px 4px;
}

.buttonExit {
	background: url("icons/exit.png") no-repeat 4px 4px;
}

.buttonApply {
	background: url("icons/apply.png") no-repeat 4px 4px;
}

.buttonRegular {
	color: #336699;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	border: 1px solid #c2e1ef;
	margin: 5px;
}

.buttonRegular:HOVER {
	background-color: #dff4ff;
	color: #336699;
}

.buttonRegular:ACTIVE {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

.buttonPositive {
	color: #529214;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	border: 1px solid #C6D880;
	margin: 5px;
}

.buttonPositive:HOVER {
	background-color: #E6EFC2;
	color: #529214;
}

.buttonPositive:ACTIVE {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

.buttonNegative {
	color: #d12f19;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	border: 1px solid #fbc2c4;
	margin: 5px;
}

.buttonNegative:HOVER {
	background-color: #fbe3e4;
	color: #d12f19;
}

.buttonNegative:ACTIVE {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

.menuPanel {
	border: 3px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	border-radius: 20px 20px 0px 0px;
}

.gwt-DecoratedStackPanel {
	cursor: pointer;
	cursor: hand;
	min-width: 200px;
	padding: 10px 10px 10px 10px;
}

.contentPanel {
	border: 3px solid #bbbbbb;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
	height: 42px;
	background-color: #dff4ff;
	border: 1px solid #bbbbbb;
	padding: 10px;
	color: blue;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-selected {
	background-color: #5891C8;
}

.contentTable {
	width: 80%;
}

.messageDecorator {
	min-height: 50px;
}

.gwt-DecoratorPanel {
	width: 100%;
}

.gwt-Anchor:LINK {
	font-size: small;
	text-decoration: none;
	color: #336699;
	padding-left: 10px;
}

.menuItem {
	height: 25px;
}

.gwt-Anchor:HOVER {
	color: blue;
	background-color: #E6E6E6;
	text-decoration: inherit;
}

.gwt-Anchor:ACTIVE {
	color: blue;
}

.viewPanel {
	border: 3px solid #bbbbbb;
	vertical-align: top;
	border-top: none;
	border-bottom: 1px solid #bbbbbb;
	padding: 20px;
}

.boatTable {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.boatTableHeader {
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #000000;
	padding-bottom: 10px;
}