@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
	height: 101;
	color: #336699;
}

.flexTable {
	border-spacing: 3 0;
}

.gwt-DialogBox .Caption {
	background: #e3e8f3;
	padding: 4px 4px 4px 8px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background: #5891C8;
}

.glassStyle {
	background-color: rgba(100, 100, 100, 0.5);
}

.gwt-HTML {
	padding-top: 20px;
	font-size: x-small;
}

.messages {
	border: 3px solid #bbbbbb;
	border-bottom: 0px;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
	height: 20px;
	padding: 5px 20px 0px 20px;
}

.messagesNegative {
	border: 3px solid #bbbbbb;
	border-bottom: 0px;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
	height: 20px;
	padding: 5px 20px 0px 20px;
	background-color: #fbe3e4;
	color: #d12f19;
}

.messagesPositive {
	border: 3px solid #bbbbbb;
	border-bottom: 0px;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
	height: 20px;
	padding: 5px 20px 0px 20px;
	background-color: #E6EFC2;
	color: #529214;
}

.contentWidget {
	width: 100%;
	padding-top: 20px;
}

.buttonPanel {
	width: 100%;
	border: 1px solid #bbbbbb;
	border-right: 0px;
	border-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #f0f0f0;
}

.detailContent {
	width: 100%;
	background-color: #f0f0f0;
	border-top: 0px;
	padding: 20px;
}

.cw-StackPanelHeader {
	padding-left: 17px;
	font-weight: bold;
	font-size: 1.0em;
	color: #336699;
}

.crossedStackPanelHeader {
	text-decoration: line-through;
	padding-left: 17px;
	font-weight: bold;
	font-size: 1.0em;
	color: #336699;
}

.logoHeader {
	background-image: url("icons/logo.png");
	background-repeat: no-repeat;
	background-position: 30px;
	height: 120px;
	padding-bottom: 13px;
	padding-right: 30px;
}

.gwt-Label {
	font-weight: bold;
}

.loginLogout {
	border-top: 2px solid #bbbbbb;
}

.FlexTable-OddRow {
	background-color: #FFFFFF;
	cursor: pointer;
}

.FlexTable-OddRow:HOVER {
	background-color: #E6E6E6;
}

.FlexTable-EvenRow {
	background-color: #EDF3FE;
	cursor: pointer;
}

.FlexTable-EvenRow:HOVER {
	background-color: #E6E6E6;
}

.pageHeadLine {
	font-size: 22px;
	font-weight: bold;
	height: 70px;
}

.buttonAdd {
	background: url("icons/add.png") no-repeat 4px 4px;
}

.buttonCancel {
	background: url("icons/cancel.png") no-repeat 4px 4px;
}

.buttonSave {
	background: url("icons/save.png") no-repeat 4px 4px;
}

.buttonExit {
	background: url("icons/exit.png") no-repeat 4px 4px;
}

.buttonApply {
	background: url("icons/apply.png") no-repeat 4px 4px;
}

.buttonDelete {
	background: url("icons/delete.png") no-repeat 4px 4px;
}

.buttonEdit {
	background: url("icons/edit.png") no-repeat 4px 4px;
}

.buttonLogin {
	background: url("icons/login.png") no-repeat 4px 4px;
}

.buttonRegular {
	background-color: white;
	color: #336699;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	border: 1px solid #c2e1ef;
	margin: 5px;
}

.buttonRegular:HOVER {
	background-color: #dff4ff;
	color: #336699;
}

.buttonRegular:ACTIVE {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

.buttonPositive {
	background-color: white;
	color: #529214;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	border: 1px solid #C6D880;
	margin: 5px;
}

.buttonPositive:HOVER {
	background-color: #E6EFC2;
	color: #529214;
}

.buttonPositive:ACTIVE {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

.buttonNegative {
	background-color: white;
	color: #d12f19;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	border: 1px solid #fbc2c4;
	margin: 5px;
}

.buttonNegative:HOVER {
	background-color: #fbe3e4;
	color: #d12f19;
}

.buttonNegative:ACTIVE {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

.menuPanel {
	border: 3px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	border-radius: 20px 20px 0px 0px;
}

.gwt-DecoratedStackPanel {
	cursor: pointer;
	cursor: hand;
	min-width: 200px;
	padding: 10px 10px 10px 10px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
	height: 42px;
	background-color: #dff4ff;
	border: 1px solid #bbbbbb;
	padding: 10px 20px;
	color: blue;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem-selected {
	background-color: #5891C8;
}

.contentTable {
	width: 100%;
	border-collapse: collapse;
}

.messageDecorator {
	min-height: 50px;
}

.gwt-DecoratorPanel {
	width: 100%;
}

.gwt-Anchor:LINK {
	font-size: small;
	text-decoration: none;
	color: #336699;
	padding-left: 10px;
}

.scollTable {
	height: 22em;
}

.menuItem {
	height: 25px;
}

.crossedMenuItem {
	text-decoration: line-through;
	height: 25px;
}

.gwt-Anchor:HOVER {
	color: blue;
	background-color: #E6E6E6;
	text-decoration: inherit;
}

.gwt-Anchor:ACTIVE {
	color: blue;
}

.viewPanel {
	border: 3px solid #bbbbbb;
	vertical-align: top;
	border-top: none;
	border-bottom: 1px solid #bbbbbb;
	padding: 20px;
}

.boatTable {
	border-collapse: collapse;
}

.boatTableHeader {
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #bbbbbb;
	padding-bottom: 10px;
}

.gwt-DecoratedTabBar {
	width: 100%;
	cursor: pointer;
}

.gwt-DecoratedTabBar .gwt-TabBarItem {
	color: #336699;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected {
	background-color: #f0f0f0;
	font-weight: bold;
}

.gwt-DialogBox .Caption {
	padding: 10px;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
	color: #336699;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background: white;
}

.gwt-DialogBox .dialogBottomCenter {
	background: url(images/hborder.png) repeat-x 0px -4px;
	-background: url(images/hborder_ie6.png) repeat-x 0px -4px;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: url(images/vborder.png) repeat-y;
}

.gwt-DialogBox .dialogMiddleRight {
	background: url(images/vborder.png) repeat-y -4px 0px;
	-background: url(images/vborder_ie6.png) repeat-y -4px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 5px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

* html .gwt-DialogBox .dialogTopLeftInner {
	width: 5px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #424242;
	cursor: default;
}

.gwt-SuggestBoxPopup .item-selected {
	background: #b7d6f6;
}

.gwt-SuggestBox {
	padding: 2px;
}

.gwt-SuggestBoxPopup {
	margin-left: 3px;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
}

.LoginMask{
	margin-top: 10%;
	border: 3px solid #bbbbbb;
	padding: 40px;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	border-radius: 20px 20px 0px 0px;
	border-spacing: 0 3;
}

.mapWidget{
	width: 100%;
	height: 400px;
}
.gwt-DatePicker {
  border: 1px solid #A2BBDD;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #C3D9FF;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #aaccee;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}
.datePickerMonthSelector {
  background: #C3D9FF;
  width: 100%;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  color: blue;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
  color: blue;
}
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
}
