@CHARSET "ISO-8859-1";

.flexTable td {
	border: 0px solid #BBBBBB;
}

.messages {
	color: red;
}

#Main {
	
}

.cw-StackPanelHeader {
	padding-left: 17px;
	font-weight: bold;
	font-size: 1.2em;
}

.logoHeader {
	background: url("images/logo.png") no-repeat 4px 4px;
}

.FlexTable-OddRow {
	background-color: #FFFFFF;
}

.FlexTable-EvenRow {
	background-color: #D7DDE8;
}

.buttonLogout {
	background: url("icons/quit_blue.png") no-repeat 4px 4px;
	min-width: 200px;
}

.buttonRegular {
	color: #336699;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	margin: 5px;
}

.buttonRegular:HOVER {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

.buttonRegular:ACTIVE {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

.buttonPositive {
	color: #529214;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	margin: 5px;
}

.buttonPositive:HOVER {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

.buttonPositive:ACTIVE {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

.buttonNegative {
	color: #d12f19;
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	padding: 4px 4px 4px 25px;
	min-width: 100px;
	margin: 5px;
}

.buttonNegative:HOVER {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.buttonNegative:ACTIVE {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

.gwt-DecoratedStackPanel {
	border: 3px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	padding: 2px 2px 10px 5px;
	cursor: pointer;
	cursor: hand;
	min-width: 200px;
	-moz-border-radius-topleft: 20px;
	-khtml-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-khtml-border-radius-topright: 20px;
	padding: 10px 10px 10px 10px;
}

.gwt-DecoratedStackPanel .gwt-StackPanelItem {
	height: 42px;
	background-color: #dff4ff;
	border: 1px solid #bbbbbb;
	padding: 10px;
}

.gwt-Anchor:LINK {
	text-decoration: none;
	color: #336699;
	padding: 10px;
}

.gwt-Anchor:HOVER {
	color: blue;
	text-decoration: inherit;
}

.gwt-Anchor:ACTIVE {
	color: blue;
}