<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>DataInitialization</servlet-name>
    <servlet-class>de.rowbuddy.server.servlets.DataInitialization</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>BoatRemoteServiceImpl</servlet-name>
    <servlet-class>de.rowbuddy.server.web.BoatRemoteServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogbookRemoteServiceImpl</servlet-name>
    <servlet-class>de.rowbuddy.server.web.LogbookRemoteServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionManagerImpl</servlet-name>
    <servlet-class>de.rowbuddy.server.web.SessionManagerImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionManagerImpl</servlet-name>
    <url-pattern>/SessionManagerImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BoatRemoteServiceImpl</servlet-name>
    <url-pattern>/BoatRemoteServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogbookRemoteServiceImpl</servlet-name>
    <url-pattern>/LogbookRemoteServiceImpl</url-pattern>
  </servlet-mapping>
</web-app>